body {
    background: #111;
    color: #fff;
    font-family: Arial;
    text-align: center;
}

#canvas {
    border: 2px solid #fff;
    margin-top: 20px;
    max-width: 90%;
}

#instructions {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 12px 22px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
}
